@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Zerando o css como margens e bordas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo de tela da HOME */
html {
    width: 100vw;
    /*largura*/
    height: 100vh;
    /*altura*/
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

body {
    background: linear-gradient(rgba(17, 17, 17, 0.61), rgba(20, 20, 20, 0.61)), url(imagens/background-car.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

/* menu - header - nav */
header {
    width: 100%;
    height: 7%;
    background: rgba(22, 22, 22, 0.185);
}

.menu-content {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8em;
}

.logo {
    font-size: 1.8em;
    letter-spacing: 0.4rem;
    /*espaço entre as letras*/
    cursor: pointer;
    /*Deixar cursor como mao*/
}

.menu-content .list-itens {
    display: flex;
    /*Para deixar um item do lado do outro*/
    list-style: none;
    /*Tirar as bolinhas das listas*/
    gap: 30px;
    /*Espaço de 20px entre as listas*/
}

.menu-content .list-itens a {
    text-decoration: none;
    /*Tira o sublinhado das listas*/
    color: #13c3f8e3;
    padding: 0.2rem;
    transform: 2ms ease-in;
    position: relative;
}

/* Criando animação nos menus */
.menu-content .list-itens a:before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transition: all 1.5s ease;
}

.menu-content .list-itens a:hover:before {
    width: 100%;
}

/* Conteudo do centro */
main {
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Textos */
.primary-text {
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.secound-text {
    font-size: 2rem;
    color: rgb(175, 175, 175);
    height: 4vh;
}


.btns button {
    width: 200px;
    height: 40px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5ms;

}

.btns {
    list-style: none;
    text-decoration: none;
    width: 200px;
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: transparent;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5ms;
}

.btns button:hover {
    color: rgb(199, 199, 45);

}

.btns button:before {
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 40px;
    background-color: rgb(116, 116, 116);
    z-index: -1;
    transition: 1s;
}

.btns button:hover:before {
    width: 100%;
}