@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Zerando o css como margens e bordas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo de tela da HOME */
html {
    width: 100%;
    /*largura*/
    height: 100%;
    /*altura*/
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

body {
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-color: rgba(230, 230, 230, 0.877);
}



/* Header2 */
.header2 {
    background-color: rgb(240, 195, 49);
    padding: 20px;
    height: 400px;
}

.content {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    overflow-x: hidden;
    /*pra n deixar o texto ficar maior q a tela*/
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.content .header2-block {
    max-width: 1000px;
    min-width: 300px;
    height: 450px;
    background: rgb(28, 192, 241);
    border-radius: 8px;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.596);
    position: relative;
    z-index: 10;
    padding: 10px;
}

.header2-block {
    overflow: hidden;
}

.header2-block img {
    width: 78%;
    position: absolute;
    right: 2%;
    margin-top: 50px;

}

.header2-block .text {
    position: absolute;
    left: 5%;
}

.header2-block .text h2 {
    padding-left: 20px;
    color: white;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 4rem;
    text-align: right;
    transform: translateX(-30px);
    transition: transform 2s;
    text-shadow: 2px 1px 2px #3b3b3be0;
}

.header2-block .text p {
    font-size: 2.2rem;
    max-width: 340px;
    text-align: left;
    transform: translateX(-30px);
    transition: transform 2s;
    text-shadow: 0.5px 0.5px 1px #3b3b3be0;
}

/* menu - header - nav */
header {
    width: 100%;
    height: 7%;
    background: rgba(22, 22, 22, 0.966);
}

.menu-content {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8em;
}

.logo {
    font-size: 1.8em;
    letter-spacing: 0.4rem;
    /*espaço entre as letras*/
    /*Deixar cursor como seta*/
    cursor: default;
}

.menu-content .list-itens {
    display: flex;
    /*Para deixar um item do lado do outro*/
    list-style: none;
    /*Tirar as bolinhas das listas*/
    gap: 30px;
    /*Espaço de 20px entre as listas*/
}

.menu-content .list-itens a {
    text-decoration: none;
    /*Tira o sublinhado das listas*/
    color: #13c3f8e3;
    padding: 0.2rem;
    transform: 2ms ease-in;
    position: relative;
}

/* Criando animação nos menus */
.menu-content .list-itens a:before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 1px;
    background-color: rgb(184, 173, 173);
    transition: all 1.5s ease;
}

.menu-content .list-itens a:hover:before {
    width: 100%;
}



/* Catálogo */
section .catalog {
    width: 10vw;
    padding: 100px;
}

section .filter-card {
    width: 40vw;
    height: 100px;
    background-color: rgba(223, 217, 217, 0.658);
    border-radius: 8px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.search-input {
    width: 550px;
    height: 50px;
    border-radius: 4px 0px 0px 4px;
    text-indent: 10px;
}

.search-button {
    width: 150px;
    height: 50px;
    border-radius: 0px 4px 4px 0px;
    border: none;
    cursor: pointer;
    background-color: rgba(38, 22, 255, 0.959);
    color: white;
    font-size: 1.8em;
    transition: 0.2s ease;
}

.search-button:hover {
    background-color: rgb(10, 21, 119);
    font-weight: bold;
}

.title-wrapper-catalog {
    margin: 20px 0px 20px 100px;
    color: black;
    font-size: 2.5em;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

section .card-wrapper {
    max-width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}


section .card-item {
    margin: 50px 0px 0px 20px;
    height: 400px;
    background-color: rgba(214, 214, 214, 0.281);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 4px 1px rgba(167, 167, 167, 0.993);
}

.card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-item img {
    width: 88%;
}

.card-item h3 {
    color: black;
    font-weight: bold;
    font-size: 2.2em;
    text-shadow: 1px 1px 2px rgba(123, 197, 226, 0.5);
}

.card-item p {
    color: black;
    width: 90%;
    font-size: 1.5em;
    font-style: italic;
    text-shadow: 0.5px 0.5px 2px rgba(110, 110, 110, 0.5);
}


.card-item button {
    width: 90%;
    padding: 15px 0px;
    border: none;
    background-color: rgba(17, 0, 255, 0.644);
    color: white;
    border-radius: 4px;
    font-size: 1.8em;
    cursor: pointer;
    transform: 0.2s ease;
    margin-bottom: 10px;
}

.card-item button:hover {
    background-color: rgb(10, 21, 119);
    transition: 0.2s ease;
    font-weight: bold;
}


/* About */
.about {
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
}

.about-content {
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    background: #dedede3b;
    margin: 0 auto;
    border-radius: 8px;
    z-index: 10;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left {
    width: 25%;
    min-width: 300px;
    height: 100%;
    background-color: #14cdeead;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.336);
    border-radius: 8px;
}

.right {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2%;
}

.right h3 {
    width: 90%;
    text-align: right;
    font-size: 2.6em;
    margin-bottom: 20px;
}

.right p {
    max-width: 90%;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    letter-spacing: 2px;
}

/* Features */
.features {
    color: black;
    width: 100%;
    height: 100%;
    background: #dededede;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.title-wrapper-features {
    padding: 20px 0px;
}

@keyframes gradient {
    from {
        background-position: 0 50%;
    }

    to {
        background-position: 100% 50%;
    }
}

.feature-card-block {
    animation: gradient 10s ease-in-out alternate infinite;
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    background: linear-gradient(-45deg, #e6a20f, #ecd822, #2fb5e6, #5fd1ee) no-repeat;
    background-size: 300% 300%;
    margin: 0 auto;
    border-radius: 8px;
    z-index: 10;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
}

.feature-card-item {
    max-width: 420px;
    min-width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #fffefe3b;
    border-radius: 4px;
}

.feature-text-content {
    max-width: 60%;
    margin: 5px;
}

.feature-text-content h3 {
    font-size: 1.9em;
}

.feature-text-content p {
    font-size: 1.6em;
}

.feature-card-item img {
    width: 64px;
    height: 64px;
}

/* footer */
footer {
    width: 100%;
    height: 100px;
    font-size: 1.6em;
}

footer .main {
    width: 100%;
    font-size: 2rem;
    height: 150px;
    background: black;
    padding: 20px 10px;
}

.footer-links {
    max-width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-company,
.footer-rental,
.footer-contact,
.footer-social {
    color: white;
    height: 100%;
    min-height: 100px;
}

.footer-company p,
.footer-rental p,
.footer-contact p,
.footer-social p {
    cursor: pointer;
}

.footer-social a {
    font-size: 1.6rem;
    color: white;
    font-style: none;
    text-decoration: none;
    max-width: 100%;
    min-width: 300px;
    display: flex;
    margin-top: 5px;
}


.footer-links h4 {
    font-size: 3rem;
    margin-bottom: 8px;
    cursor: default;
}

.footer-links h6 {
    cursor: pointer;
}

footer .last {
    width: 100%;
    height: 50px;
    background: rgb(19, 19, 19);
    display: flex;
    align-items: center;
    justify-content: center;
}